<!-- 日历 -->
<section class="calendar-wrap" onselectstart="return false;">
    <div class="calendar-head-bg no-track-click" data-track="公共_日历_拖拽"></div>

    <div class="month-switch-bar-wrap">
        <div class="month-switch-bar month-left hidden" data-track="公共_日历_月份_上一月"></div>
        <div class="month-switch-bar month-right" data-track="公共_日历_月份_下一月"></div>
    </div>

    <!-- 各月份的字符串 -->
    <%= monthStr %>
</section>