
<!--该文件为首页banner轮播图区域（不包含浮在它上面的搜索框）-->

<!-- banner轮播区域 -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <!--接送机活动-->
        <!-- <div class="swiper-slide hidden">
            <a href="/activity/toActivity.do?id=1" target="_blank" data-track="首页_banner_接送机活动">
                <img alt="" src="http://image.jladmin.cn/real_1516258413771.jpg">
            </a>
        </div> -->

        <!--港澳放大价，尽在深捷旅-->
        <div class="swiper-slide current">
            <a href="/activity/toActivity.do?id=2" target="_blank" data-track="首页_banner_港澳放大价">
                <img alt="" src="https://qnb.oss-cn-shenzhen.aliyuncs.com/real_1526541000083.jpg">
            </a>
        </div>
    </div>
    <div class="swiper-pagination">
        <i class="swiper-bar swiper-left disabled" data-track="首页_banner_swiper"></i>
        <i class="swiper-bar swiper-right" data-track="首页_banner_swiper"></i>
    </div>
</div>