<div class="notice-box">
    <h2 class="notice-title">关于春节收款的提示公告</h2>
    <span class="notice-subtitle">尊敬的客户：</span>
    <p>2018年春节来临之际，提前祝您及您的家人节日快乐！祝您公司生意蒸蒸日上！</p>
    <p>因春节来临，酒店需要我司预付房费，为了保证您公司的订房业务不受影响，请您在春节前支付已到期账单款，并预付春节期间的订房款，谢谢支持！</p>
    <p>春节期间订房汇款，请尽量采用线上支付订单和账单；如需线下支付，请您付款至招行、建行以及支付宝账号，暂停向兴业、中行和农行账号进行支付。</p>
    <p>款后请将汇款凭证发送至企业QQ: 2851983288 .</p>
    <p>1、户名：深圳市捷旅国际旅行社有限公司</p>
    <p>开户行：招行深圳分行罗湖支行</p>
    <p>帐号：755915414810201</p>
    <p>2、户名：深圳市捷旅国际旅行社有限公司</p>
    <p>开户行：建行深圳分行城东支行</p>
    <p>帐号：44201505900052528343</p>
    <p>3、支付宝账号：jlzfb@corp.jl-tour.com</p>

    <div class="notice-belong">
        <p class="span-right">
            <span>深圳市捷旅国际旅行社有限公司</span>
        </p>
        <p class="span-right">
            <span>财务部</span>
        </p>
        <p class="span-right">
            <span>2018.1.22</span>
        </p>
    </div>
</div>