<div class="activity-rules">
    <div class="rules-title clearfix"></div>
    <div class="rules-text">
        <p>1、由于产品信息及时更新、市场价格波动等可能会与您预订时展示的不一致，该价格仅供您参考；</p>
        <p>2、活动预定日期：2018年5月17日-7月15日，入住日期：2018年5月17日-7月15日；</p>
        <p>3、本活动有效期截至2018年7月15日 23:00:00；</p>
        <p>4、如您对本次活动有任何疑问，欢迎随时联系捷旅客服电话：0755-33397777；</p>
        <p>5、在法律许可范围内，深圳捷旅可根据活动进度适当调整及修改，本活动最终解释权归深圳捷旅所有。</p>
    </div>
</div>