
<!-- 顶部面包屑 -->
<%= crumbs %>

<div class="tool-page-main">
    <div class="tpm-inner">

        <!-- 酒店列表 -->
        <%= hotelList %>

        <div class="tpm-right">
            <!-- 操作栏，包括 "刷新" 按钮，跳转链接 等 -->
            <%= optLine %>

            <div class="tpm-table-wrap">
                <%= table %>
            </div>
        </div>
    </div>
</div>