

.hotel-detail-outer{
    padding: 20px 0;
    background: white;
    
    @at-root .hotel-detail-inner{
        width: 1200px;
        margin: auto;
        
        @at-root .hotel-detail-title{
            padding-left: 10px;
            color: #666;
            height: 20px;
            line-height: 20px;
            border-left: solid 5px orange;
            font-size: 20px;
        }
        
        @at-root .hotel-detail-list{
            padding: 30px;
            
            @at-root .hotel-detail-item{
                margin-bottom: 20px;
                
                @at-root .hotel-detail-label{
                    font-size: 16px;
                    float: left;
                    line-height: 26px;
                    
                    .hli-icon{
                        float: left;
                        margin-right: 10px;
                    }
                }
                
                @at-root .hotel-detail-content{
                    min-height: 26px;
                    line-height: 26px;
                    margin-left: 140px;
                    padding-bottom: 5px;
                    border-bottom: dashed 1px #e3e3e3;
                }
            }
        }
    }
}
