
// icons

.hli-icon{
    @include jl_sprites;
    display: inline-block;
    position: relative;
    
    @at-root .icon-star{
        position: relative;
        top: -2px;
        display: inline-block;
        font-size: 12px;
        font-style: normal;
        background: #7eb6ec;
        color: white;
        width: 50px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        border-radius: 3px;
    }
    
    &.icon-jinpai{
        @include jinpai;
        top: 3px;
    }
    
    &.icon-tuiguang{
        @include tuiguang;
        top: 3px;
    }
    
    &.icon-location2{
        @include location2;
        top: 3px;
    }
    
    &.icon-gz-on{
        @include gz3;
    }
    
    &.icon-gz-off{
        @include gz4;
    }
    
    &.icon-jiudianjianjie{
        @include jiudianjianjie;
    }
    
    &.icon-lianxifangshi{
        @include lianxifangshi;
    }

    &.icon-jiudiansheshi{
        @include jiudiansheshi;
    }
    
    &.icon-tebietixing{
        @include tebietixing;
    }
    
    &.icon-down{
        @include triangle_blue_down;
        top: -1px;

        &:before{
            content: none;
        }
    }
    
    &.icon-up{
        @include triangle_blue_up;
        top: -1px;

        &:before{
            content: none;
        }
    }
}