<div class="city-select">
    <span class="city-condition">地区</span>
    <span class="unlimit">不限</span>
    <ul class="city-list clearfix">

        <% for (var fC = 0; fC < factCitys.length; fC++) { %>

            <li><%= factCitys[fC] %></li>

        <% } %>
    </ul>
</div>