@mixin sprites{background:url(../../static/sprites/sprites.png) no-repeat; }

@mixin gengduo{height:12px;width:7px;background-position: 0 0;}
@mixin gengduo2{height:12px;width:7px;background-position: -7px 0;}
@mixin weixin_sanjiao{height:9px;width:13px;background-position: -14px 0;}
@mixin honghua{height:14px;width:14px;background-position: -27px 0;}
@mixin rili{height:16px;width:15px;background-position: -41px 0;}
@mixin gongsizhanghao{height:16px;width:16px;background-position: -56px 0;}
@mixin mima{height:16px;width:16px;background-position: -72px 0;}
@mixin sousuo{height:17px;width:16px;background-position: -88px 0;}
@mixin yonghuming{height:16px;width:16px;background-position: -104px 0;}
@mixin jiudian1{height:18px;width:18px;background-position: -120px 0;}
@mixin jiudian2{height:18px;width:18px;background-position: -138px 0;}
@mixin menpiao1{height:18px;width:18px;background-position: -156px 0;}
@mixin menpiao2{height:18px;width:18px;background-position: -174px 0;}
@mixin shouji2{height:18px;width:18px;background-position: -192px 0;}
@mixin shouji1{height:18px;width:18px;background-position: -210px 0;}
@mixin warning{height:20px;width:20px;background-position: -228px 0;}
@mixin laba{height:17px;width:20px;background-position: -248px 0;}
@mixin dianhua{height:31px;width:30px;background-position: -268px 0;}
@mixin dianhua2{height:31px;width:30px;background-position: -298px 0;}
@mixin weixinban2{height:31px;width:36px;background-position: -328px 0;}
@mixin weixinban{height:31px;width:36px;background-position: -364px 0;}
@mixin dianhua0{height:43px;width:43px;background-position: -400px 0;}
@mixin weixinban0{height:43px;width:43px;background-position: -443px 0;}
@mixin dianhua20{height:43px;width:43px;background-position: -486px 0;}
@mixin weixinban20{height:43px;width:43px;background-position: -529px 0;}
@mixin erweima{height:83px;width:83px;background-position: -572px 0;}
@mixin erweima110{height:110px;width:110px;background-position: -655px 0;}
@mixin erweima130{height:130px;width:130px;background-position: -765px 0;}
@mixin hotel_shadow{height:59px;width:220px;background-position: -895px 0;}
@mixin fzg_logo{height:43px;width:269px;background-position: -1115px 0;}
@mixin shoujiban_bg{height:73px;width:480px;background-position: -1384px 0;}
