// 价格日历面板

.calendar-price-wrap{
    display: inline-block;
    position: relative;
    top: -31px;
    left: 40px;
    padding-right: 20px;
    border: 1px solid #999999;
    overflow: hidden;

    @at-root .month-switch-bar-wrap{
        position: absolute;
        width: 100%;

        @at-root .month-switch-bar{
            @include nd_sprites;
            position: absolute;
            height: 30px;
            width: 30px;
            top: 18px;
            opacity: .7;
            filter: Alpha(opacity=70);
            
            &.month-left{
                @include left_00;
                left: 30px;

                &:hover{
                    @include left_01;
                }
            }

            &.month-right{
                @include right_00;
                right: 30px;

                &:hover{
                    @include right_01;
                }
            }
        }
    }

    @at-root .cp-one-month-wrap{
        float: left;
        margin: 20px 0 20px 20px;

        @at-root .cp-month-head{
            font-size: 18px;
            color: #333333;
            text-align: center;
        }

        table{

            @at-root .cp-month-thead{
                td{
                    text-align: center;
                    font-weight: bold;
                    width: 50px;
                    height: 50px;
                }
            }

            @at-root .calendar-p-row{

                td{
                    width: 46px;
                    height: 46px;
                    padding: 2px;
                    text-align: center;
                    
                    >*{
                        cursor: context-menu;
                    }

                    @at-root .cp-td-inner{
                        position: relative;
                        height: 46px;
                        background: whitesmoke;

                        &.between-check{
                            background: #d5e6f6;
                        }

                        &.checkin, &.checkout{
                            background: #8db7e0;
                            color: white;

                            .calendar-p-status{
                                &.green{
                                color: #187150;
                                }
                            }
                        }

                        &.disabled{
                            color: #aaaaaa;
                        }

                        @at-root .calendar-p-day-num{
                            padding-top: 2px;
                        }

                        @at-root .calendar-p-price{
                            line-height: 8px;
                            color: #9a1212;
                        }

                        @at-root .calendar-p-status{
                            line-height: 18px;
                            transform: scale(.9);
                            zoom: .9;

                            &.green{
                                color: #187150;
                            }

                            &.red{
                                color: #f57b7b;
                            }

                            &.purple{
                                color: #AA13AA;
                            }
                        }

                        .cp-hui-tag{
                            @include nd_sprites;
                            @include hui-tag;
                            position: absolute;
                            top: 0;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}