<!-- 星级选择面板 -->
<ul class="i-s-star-select-wrap">
    <li>
        <label><input type="checkbox" value="10,15,20,25" data-text="经济型">二星级及以下/经济</label>
    </li>
    <li>
        <label><input type="checkbox" value="30,35" data-text="舒适型">三星级/舒适</label>
    </li>
    <li>
        <label><input type="checkbox" value="40,45" data-text="高档型">四星级/高档</label>
    </li>
    <li>
        <label><input type="checkbox" value="50,55" data-text="豪华型">五星级/豪华</label>
    </li>
</ul>