
<!-- 成人小孩选择组件模板 -->
<section class="ac-select-wrap">
    <div class="ac-select-row">
        <div class="ac-select-item-wrap">
            <label class="ac-select-item-label">成人</label>
            <div class="drag-down-wrap">
                <my-select class="ac-select-adult select" unselectable="on" data-value="2" data-track="公共_成人小孩_成人">2人</my-select>
                <i class="drag-down"></i>
            </div>
            <span class="ac-select-note-text">18岁及以上</span>
        </div>

        <div class="ac-select-item-wrap m-l">
            <label class="ac-select-item-label">小孩</label>
            <div class="drag-down-wrap">
                <my-select class="ac-select-children select" unselectable="on" data-value="0" data-track="公共_成人小孩_小孩">0人</my-select>
                <i class="drag-down"></i>
            </div>
            <span class="ac-select-note-text">0-17岁</span>
            <i class="ac-select-info"></i>
        </div>
    </div>

    <div class="ac-select-row row-two">
        <div class="ac-select-item-wrap">
            <label class="ac-select-item-label">儿童入住时年龄</label>
            <div class="ac-select-children-age-wrap"></div>
        </div>
    </div>

    <!-- <div class="ac-select-btn-group">
        <button class="ac-select-btn cancel">取消</button>
        <button class="ac-select-btn confirm">确定</button>
    </div> -->
</section>
