<!-- 单个儿童年龄选择框组件&lt; -->
<div class="drag-down-wrap">
    <my-select class="ac-select-children-age select" unselectable="on" data-value="0" data-track="公共_成人小孩_小孩年龄"><1岁</my-select>
    <i class="drag-down"></i>
</div>