<div class="main">
    <div class="wechat-pay-head">
        <ul class="order-msg">
            <li class="order-code">订单编号：XXXXXXXXXXX</li>
            <li class="order-date">预定日期：XXXXXXXXXXX</li>
        </ul>
        <h6 class="order-payable">应付金额：<span class="total-money">￥78.40</span></h6>
    </div>

    <div class="wechat-pay-main">
        <ul class="select-pay-way">
            <li class="selected">微信支付</li>
        </ul>
        <div class="erweima-box">
            <div class="wechat-pay-logo"></div>
            <div class="wechat-pay-erweima"></div>
            <div class="erweima-means"></div>
        </div>
    </div>
</div>