<div class="today-push-main clearfix">
    <div class="today-push-title">今日主推</div>

    <div class="today-push-content">
        <div class="condition-select">
            <!--筛选条件-->
        </div>

        <div class="export-excel-box">
            <a class="export-excel" href="/mainPush/exportMainPushProductList.do">导出Excel表格</a>
        </div>

        <table class="product-list">
            <thead>
            <tr>
                <th class="th-city">城市</th>
                <th class="th-hotel">酒店名</th>
                <th class="th-room">最低价房型</th>
                <th class="th-breakfast">价格类型</th>
                <th class="th-peer">主推价</th>
                <th class="th-outer">外网最低价</th>
                <th class="th-deadline">主推日期</th>
                <th class="th-remark">特殊备注</th>
                <th class="th-option">操作</th>
            </tr>
            </thead>
            <tbody class="product-tbody">
            <!--每条产品信息-->
            </tbody>
        </table>

        <div class="paging-box">
            <!--分页器-->
        </div>
    </div>

    <div hidden="hidden" id="div_User" data-distrb="CZ135178"></div>

</div>