

.tool-page-crumbs{
    position: relative;
    color: #333333;
    box-shadow: 0 0 5px #ddd;

    @at-root .tpc-inner{
        width: 1200px;
        margin: auto;
        height: 30px;
        line-height: 30px;

        @at-root .tpc-blue{
            color: #339afc;
        }
    }
}