.main-box{
	background-color: #f8f8f8;
	overflow: hidden;
	
	.main{
		width: 1200px;
		margin: 25px auto 40px;
		background-color: #fff;
		box-shadow: 0 0 10px #eeeeee;
		overflow: hidden;
		
		
		@at-root .register-head{
			height: 60px;
			line-height: 60px;
			border-bottom: 1px solid #E3E3E3;
			
			.register-title{
				font-size: 24px;
				color: #666666;
				margin-left: 30px;
			}
			
			.register-h-r{
				font-size: 16px;
				margin-right: 30px;
				
				.to-login{
					color: #3399ff;
					text-decoration: underline;
				}
			}
		}
		
		@at-root .tips{
			margin-left: 30px;
			height: 40px;
			line-height: 40px;
			font-size: 14px;
			.icon{
				display: inline-block;
				vertical-align: middle;
				@include jl_sprites;
				@include trumpet;
			}
			.tips-title{
				color: #ffa825;
				margin-left: 10px;
			}
		}
		
		
		@at-root .submit{
			width: 300px;
			height: 42px;
			background-color: #ffa925;
			border-radius: 6px;
			text-align: center;
			color: #ffffff;
			display: block;
			margin: 50px auto;
			font-size: 18px;
		}
	}
}