<div class="bread-nav">
    <div class="bread-box clearfix">
        <div class="bread-nav-2">个人中心</div>
        <i>&gt;</i>
        <div class="bread-nav-3">房掌柜小工具后台</div>
        <i>&gt;</i>
        <div class="bread-nav-4">数据导入</div>
    </div>
</div>


<div class="main">

    <div class="content">

        <div class="operate-user clearfix">
            <!--操作客户区域-->
        </div>


        <div class="operate-hotel">
            <!--操作酒店区域-->
            <label for="">
                <input type="radio" name="i-s-origin-switch" class="i-s-origin-switch" data-val="0" checked>国内
                <input type="radio" name="i-s-origin-switch" class="i-s-origin-switch" data-val="2">港澳台
                <input type="radio" name="i-s-origin-switch" class="i-s-origin-switch" data-val="3">境外
                <input class="select-hotel i-s-keyword-input" type="text" placeholder="请输入酒店关键字">
            </label>

            <button class="add-hotel">新增酒店</button>


            <!--新增酒店列表-->
            <div class="add-hotel-list"></div>
        </div>


        <div class="hotel-list">
            <!--酒店列表区域-->

            <div class="hotel-list-table">
                <table class="product-list">
                    <thead>
                    <tr>
                        <th class="th-city">城市</th>
                        <th class="th-hotel">酒店名</th>
                        <th class="th-cityid">酒店id</th>
                        <th class="th-option">操作</th>
                    </tr>
                    </thead>
                    <tbody class="product-tbody">

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>