<div class="activity-rules">
    <div class="rules-title clearfix">
        <div class="t-l-before"></div>
        <h6 class="p-t-text">活动规则</h6>
        <div class="t-l-after"></div>
    </div>
    <div class="rules-text">
        <p>1、优惠对象：房掌柜注册用户。</p>
        <p>2、礼包内容：2018年1月10日至2018年3月31日入住，每订单包含一次：</p>
        <p class="need-indent">单程接/送机服务（酒店-机场 或 机场-酒店），接送机服务已包含高速、延误等待的所有费用。</p>
        <p>3、接送机服务由第三方汽车租赁公司提供，非酒店提供。</p>
        <p>4、需在入住日提前12小时预订，否则不包含接送机服务（例如预订3月20日入住的客房，需要当天凌晨3点的接送机服务，则在19日13点前进行预订确认）。</p>
        <p>5、预订成功后，接送机公司将与客人联系确认航班号及接送机时间。请务必填入客人联系手机，如未填写则视为放弃此礼包。</p>
        <p>6、在法律的范围内，根据活动的进展情况，深圳捷旅可能对活动的规则/条款作出适当的修改/调整。</p>
        <p>7、如您对此活动有任何疑问，欢迎通过房掌柜官方微信与我们联系。</p>
        <p>8、本次活动最终解释权归深圳捷旅国际旅行社有限公司所有。</p>
    </div>
</div>