@mixin halloween_sprites{background:url(http://image.jladmin.cn/real_1508743053892.png) no-repeat; }

@mixin halloween-title3{height:150px;width:605px;background-position: 0 0;}
@mixin halloween-title1{height:147px;width:609px;background-position: 0 -150px;}
@mixin halloween-title2{height:144px;width:687px;background-position: 0 -297px;}
@mixin halloween_notes{height:226px;width:779px;background-position: 0 -441px;}
