<tr>
    <th width="120">
        <span>房型</span>
    </th>
    <th width="70">
        <span>价格类型</span>
    </th>
    <% for(var i = 0; i <= dateArr.length; i++ ){ %>
        <th><%= dateArr[i] %></th>
    <% } %>
</tr>