<li class="brand-introduce shown" data-brand="1">
    <!--奢华品牌-->
    <div class="brand-summary">
        <ul class="bestwest-brand bestwest-brand-1 over-four-brand">
            <li class="brand brand-top">
                <div class="per-brand brand-logo-1"></div>
                <div class="brand-msg">
                    <h6>贝斯特韦斯特优质</h6>
                    <p>该品牌从完善的的客房到升级的设施都为客人带来超乎预期的住宿体验。重塑特质的优质酒店，足以吸引高端市场。</p>
                </div>
            </li>
            <li class="brand brand-top">
                <div class="per-brand brand-logo-2"></div>
                <div class="brand-msg">
                    <h6>贝斯特韦斯特精品</h6>
                    <p>该品牌是寻求尊享体验客人的最佳选择。雅致的氛围、一流的设施、优越的住宿条件及服务，吸引了来自世界各地的旅行者。</p>
                </div>
            </li>
            <li class="brand brand-top">
                <div class="per-brand brand-logo-3"></div>
                <div class="brand-msg">
                    <h6>贝斯特韦斯特行政公寓</h6>
                    <p>该品牌专为那些需要长期入住，同时要求酒店与住家体验完美结合的旅客量身定制，已成为集团旗下标志性的品牌。</p>
                </div>
            </li>
            <li class="brand">
                <div class="per-brand brand-logo-4"></div>
                <div class="brand-msg">
                    <h6>贝斯特韦斯特至尊精选</h6>
                    <p>该品牌分布于全球主要城市，精心挑选当地独一无二住宿的豪华高端酒店（AAA-3钻以上或Tripadvisor4星以上）。</p>
                </div>
            </li>
            <li class="brand brand-top">
                <div class="per-brand brand-logo-5"></div>
                <div class="brand-msg">
                    <h6>Vīb®</h6>
                    <p>该新近品牌分布于世界重点城市的核心地带，诠释着活力和现代感的设计元素，同时注重便利、科技以及社交功能。</p>
                </div>
            </li>
            <li class="brand brand-top">
                <div class="per-brand brand-logo-6"></div>
                <div class="brand-msg">
                    <h6>Best Western</h6>
                    <p>该新近品牌极具特色的新近外观，现代化的客房以及时尚的素材，专为那些追求高品质住宿要求的精明出行者设计。</p>
                </div>
            </li>
            <li class="brand brand-top">
                <div class="per-brand brand-logo-7"></div>
                <div class="brand-msg">
                    <h6>贝斯特韦斯特品质精选</h6>
                    <p>该品牌精选高档酒店多位于一二线市场，延续了集团的历史传统 - 始终如一地为客人带来有格调且独特的入住体验。</p>
                </div>
            </li>
            <li class="brand">
                <div class="per-brand brand-logo-8"></div>
                <div class="brand-msg">
                    <h6>SureStay</h6>
                    <p>我们对高品质和舒适度的承诺来自集团数十年的成就，也致力于创造更多令人期待的新品牌，始终服务于追求高品质的出行者。</p>
                </div>
            </li>
        </ul>
    </div>
</li>