<li class="brand-introduce shown" data-brand="1">
    <!--奢华品牌-->
    <div class="brand-summary">
        <ul class="wanhao-brand wanhao-brand-1 over-four-brand">
            <li class="brand brand-top">
                <div class="per-brand brand-logo-1"></div>
                <div class="brand-msg">
                    <h6>丽思卡尔顿酒店</h6>
                    <p>唯有伟大的故事，方能缔造一个传奇</p>
                </div>
            </li>
            <li class="brand brand-top">
                <div class="per-brand brand-logo-2"></div>
                <div class="brand-msg">
                    <h6>瑞吉酒店</h6>
                    <p>永恒传统，精致住宿</p>
                </div>
            </li>
            <li class="brand brand-top">
                <div class="per-brand brand-logo-3"></div>
                <div class="brand-msg">
                    <h6>JW万豪酒店</h6>
                    <p>为您的旅途添上难以忘怀的永恒回忆，带来更精彩的收获</p>
                </div>
            </li>
            <li class="brand">
                <div class="per-brand brand-logo-4"></div>
                <div class="brand-msg">
                    <h6>丽思卡尔顿酒店</h6>
                    <p>唯有伟大的故事，方能缔造一个传奇</p>
                </div>
            </li>
            <li class="brand brand-top">
                <div class="per-brand brand-logo-5"></div>
                <div class="brand-msg">
                    <h6>豪华精选酒店</h6>
                    <p>创建于1906年</p>
                </div>
            </li>
            <li class="brand brand-top">
                <div class="per-brand brand-logo-6"></div>
                <div class="brand-msg">
                    <h6>宝格丽酒店</h6>
                    <p>拥有永恒的魅力，完美的服务以及分布在全球最有质感的地方</p>
                </div>
            </li>
            <li class="brand brand-top">
                <div class="per-brand brand-logo-7"></div>
                <div class="brand-msg">
                    <h6>W酒店</h6>
                    <p>我们大胆地描绘奢华，只为诠释一个标志性的生活品牌</p>
                </div>
            </li>
            <li class="brand">
                <div class="per-brand brand-logo-8"></div>
                <div class="brand-msg">
                    <h6>艾迪逊酒店</h6>
                    <p>将美食、饮料、娱乐体验与创新设计完美融合</p>
                </div>
            </li>
        </ul>
    </div>
</li>