<li class="brand-introduce" data-brand="4">
    <!--长期住宿-->
    <div class="brand-summary">
        <ul class="wanhao-brand wanhao-brand-4">
            <li class="brand brand-top">
                <div class="per-brand brand-logo-1"></div>
                <div class="brand-msg">
                    <h6>万豪行政公寓</h6>
                    <p>我们带有全套设备的五星级公寓让外国客人生活更便利，使之更快融入当地节奏</p>
                </div>
            </li>
            <li class="brand brand-top">
                <div class="per-brand brand-logo-2"></div>
                <div class="brand-msg">
                    <h6>Residence Inn酒店</h6>
                    <p>提供客人一个高规格、高度社交化和本土化的长入住环境，使生活更佳</p>
                </div>
            </li>
            <li class="brand brand-top">
                <div class="per-brand brand-logo-3"></div>
                <div class="brand-msg">
                    <h6>Towneplace Suites酒店</h6>
                    <p>作为一间设计睿智的长住酒店，我们致力于为客人提供高效以及愉快的环境</p>
                </div>
            </li>
            <li class="brand">
                <div class="per-brand brand-logo-4"></div>
                <div class="brand-msg">
                    <h6>源宿酒店</h6>
                    <p>我们用开放前卫的设计和健康的环境重新定义长住酒店，也让您发现轻松旅游的本质</p>
                </div>
            </li>
        </ul>
    </div>
</li>