<li class="brand-introduce" data-brand="2">
    <!--高级品牌-->
    <div class="brand-summary">
        <ul class="wanhao-brand wanhao-brand-2 over-four-brand">
            <li class="brand brand-top">
                <div class="per-brand brand-logo-1"></div>
                <div class="brand-msg">
                    <h6>万豪酒店</h6>
                    <p>拥有永恒的魅力，完美的服务以及分布在全球最有质感的地方</p>
                </div>
            </li>
            <li class="brand brand-top">
                <div class="per-brand brand-logo-2"></div>
                <div class="brand-msg">
                    <h6>喜来登酒店</h6>
                    <p>在喜来登酒店，我们不止于提供温情的服务、个性化的设计和创新的环境</p>
                </div>
            </li>
            <li class="brand">
                <div class="per-brand brand-top brand-logo-3"></div>
                <div class="brand-msg">
                    <h6>万豪度假会</h6>
                    <p>我们致力于提供全世界范围内各式各样的、高品质的度假生活服务</p>
                </div>
            </li>
            <li class="brand">
                <div class="per-brand brand-logo-4"></div>
                <div class="brand-msg">
                    <h6>Delta酒店</h6>
                    <p>当您专注于真正起作用的细节时，您就能打造完美</p>
                </div>
            </li>
            <li class="brand brand-top">
                <div class="per-brand brand-logo-5"></div>
                <div class="brand-msg">
                    <h6>艾美酒店</h6>
                    <p>我们为充满好奇与创意的旅行者提供别致的地域设计和美食</p>
                </div>
            </li>
            <li class="brand brand-top">
                <div class="per-brand brand-logo-6"></div>
                <div class="brand-msg">
                    <h6>威斯汀酒店</h6>
                    <p>我们的创新健康计划以及设施让您焕然一新，在离开酒店时比到店时更倍感活力</p>
                </div>
            </li>
            <li class="brand brand-top">
                <div class="per-brand brand-logo-7"></div>
                <div class="brand-msg">
                    <h6>万丽酒店</h6>
                    <p>我们用超越传统商旅体验的极致服务来放飞您的想象力，并让您身心愉悦</p>
                </div>
            </li>
            <li class="brand">
                <div class="per-brand brand-logo-8"></div>
                <div class="brand-msg">
                    <h6>盖洛德酒店</h6>
                    <p>一流的环境和设备为客人留下人生中最精彩、最难忘的回忆</p>
                </div>
            </li>
        </ul>
    </div>
</li>