<li class="brand-introduce" data-brand="3">
    <!--精选服务品牌-->
    <div class="brand-summary">
        <ul class="wanhao-brand wanhao-brand-3 over-four-brand">
            <li class="brand brand-top">
                <div class="per-brand brand-logo-1"></div>
                <div class="brand-msg">
                    <h6>万怡酒店</h6>
                    <p>我们致力于让雄心壮志的旅行者在充满创造力和能产生共鸣的环境中获得自己所想</p>
                </div>
            </li>
            <li class="brand brand-top">
                <div class="per-brand brand-logo-2"></div>
                <div class="brand-msg">
                    <h6>福朋酒店</h6>
                    <p>我们用精致的醇味饮品和正宗的当地活动重新定义旅行，塑造永恒的风格</p>
                </div>
            </li>
            <li class="brand brand-top">
                <div class="per-brand brand-logo-3"></div>
                <div class="brand-msg">
                    <h6>SpringHill Suites酒店</h6>
                    <p>我们通过屡获殊荣的服务和极具风格的装饰，旨在为客人做得更多更好</p>
                </div>
            </li>
            <li class="brand">
                <div class="per-brand brand-logo-4"></div>
                <div class="brand-msg">
                    <h6>Protea酒店</h6>
                    <p>我们是非洲最大的酒店品牌，我们提供个性化服务和极具本地化的设计风格</p>
                </div>
            </li>
            <li class="brand brand-top">
                <div class="per-brand brand-logo-5"></div>
                <div class="brand-msg">
                    <h6>万枫酒店</h6>
                    <p>我们以令人心动的环境和100%的信心向你提供性价比极高的舒适住房</p>
                </div>
            </li>
            <li class="brand brand-top">
                <div class="per-brand brand-logo-6"></div>
                <div class="brand-msg">
                    <h6>万豪AC酒店</h6>
                    <p>AC酒店专为现代商务提供前卫的设计，用实力诠释酒店新概念</p>
                </div>
            </li>
            <li class="brand brand-top">
                <div class="per-brand brand-logo-7"></div>
                <div class="brand-msg">
                    <h6>雅乐轩酒店</h6>
                    <p>都市灵感的空间、充满活力的社交环境，只为新一代旅行者而设</p>
                </div>
            </li>
            <li class="brand">
                <div class="per-brand brand-logo-8"></div>
                <div class="brand-msg">
                    <h6>Moxy酒店</h6>
                    <p>Moxy酒店以合适的价格、舒适的房间、令人放松的社交环境向客人提供有趣的住宿经历</p>
                </div>
            </li>
        </ul>
    </div>
</li>