<li class="brand-introduce" data-brand="5">
    <!--收藏-->
    <div class="brand-summary">
        <ul class="wanhao-brand wanhao-brand-5">
            <li class="brand brand-top">
                <div class="per-brand brand-logo-1"></div>
                <div class="brand-msg">
                    <h6>傲途格精选酒店</h6>
                    <p>细心甄选，个性鲜明，傲途格精选酒店系列荟萃一众独具特色的酒店精品</p>
                </div>
            </li>
            <li class="brand brand-top">
                <div class="per-brand brand-logo-2"></div>
                <div class="brand-msg">
                    <h6>设计酒店</h6>
                    <p>我们用自己的创造力、真诚的服务、正宗的文化和发人深思的设计来证明我们富有远见</p>
                </div>
            </li>
            <li class="brand">
                <div class="per-brand brand-logo-3"></div>
                <div class="brand-msg">
                    <h6>Tribute Portfolio酒店</h6>
                    <p>我们用自己的个性和灵感去精心挑选独立的酒店和度假区，让你保持独立和自由</p>
                </div>
            </li>
        </ul>
    </div>
</li>