<li class="brand-introduce shown" data-brand="1">
    <!--奢华品牌-->
    <div class="brand-summary">
        <ul class="xidawu-brand xidawu-brand-1 over-four-brand">
            <li class="brand brand-top">
                <div class="per-brand brand-logo-1"></div>
                <div class="brand-msg">
                    <h6>Sheraton</h6>
                    <p>喜来登是全世界造物者们、实干家们和思想者们汇聚一堂以通过旅行打造和探索创新体验的精彩场所</p>
                </div>
            </li>
            <li class="brand brand-top">
                <div class="per-brand brand-logo-2"></div>
                <div class="brand-msg">
                    <h6>Westin</h6>
                    <p>当您一踏入威斯汀酒店，即会感受到这里的舒适宜人氛围，这是因为我们的每一项特色服务均以让您寻找更佳自我为设计宗旨</p>
                </div>
            </li>
            <li class="brand brand-top">
                <div class="per-brand brand-logo-3"></div>
                <div class="brand-msg">
                    <h6>瑞吉酒店</h6>
                    <p>永恒传统，精致住宿</p>
                </div>
            </li>
            <li class="brand">
                <div class="per-brand brand-logo-4"></div>
                <div class="brand-msg">
                    <h6>豪华精选</h6>
                    <p>在各大知名都市和度假胜地，豪华精选酒店将带给您非凡卓越体验</p>
                </div>
            </li>
            <li class="brand brand-top">
                <div class="per-brand brand-logo-5"></div>
                <div class="brand-msg">
                    <h6>W酒店</h6>
                    <p>来到具有标志性设计和具有现代豪华感的卓越酒店，尽情体验您独特而非凡的逍遥之旅</p>
                </div>
            </li>
            <li class="brand brand-top">
                <div class="per-brand brand-logo-6"></div>
                <div class="brand-msg">
                    <h6>Design Hotels</h6>
                    <p>我们用自己的创造力、真诚的服务、正宗的文化和发人深思的设计来证明我们富有远见</p>
                </div>
            </li>
            <li class="brand brand-top">
                <div class="per-brand brand-logo-7"></div>
                <div class="brand-msg">
                    <h6>Tribute Portfolio酒店</h6>
                    <p>入住Tribute Portfolio酒店，体验全球各地卓越非凡的独立酒店，同时享受各式SPG&reg;俱乐部奖励</p>
                </div>
            </li>
            <li class="brand">
                <div class="per-brand brand-logo-8"></div>
                <div class="brand-msg">
                    <h6>福朋喜来登</h6>
                    <p>我们用精致的醇味饮品和正宗的当地活动重新定义旅行，塑造永恒的风格</p>
                </div>
            </li>
        </ul>
    </div>
</li>