@at-root .area-nav{
	width: 100%;
	padding: 10px 0 10px;
	background-color: #f5bd89;
	z-index: 100;
	
	@at-root .area-nav-ul{
		width: 574px;
		height: auto;
		margin: 0 auto;
		
		>li{
			@include special_area_sprite;
			float: left;
		}
		
		>.hk{
			@include hk_normal;
			margin-right: 70px;
			
			&.selected{
				@include hk_selected;
			}
		}
		
		>.aomen{
			@include aomen_normal;
			
			&.selected{
				@include aomen_selected;
			}
		}
	}
}