
<!--banner 图片轮播部分-->
<section class="index-banner-wrap" id="bannerWrap">
    <!-- banner轮播区域 -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <!--广州富力丽思卡尔顿酒店-->
            <div class="swiper-slide current">
                <a href="javascript:void(0)" class="tmp-banner">
                    <img alt="" src="https://qnb.oss-cn-shenzhen.aliyuncs.com/real_1521704069864.jpg">
                </a>
            </div>

        </div>
    </div>

    <!--搜索框-->
    <div class="search-box"></div>

</section>


<div class="main">
    <!--切换集团tab栏-->
    <ul class="switch-group">
        <li>
            <a class="switch-group-btn selected" data-group="1" href="javascript:void(0)">万豪</a>
        </li>
        <li>
            <a class="switch-group-btn" data-group="2" href="javascript:void(0)">喜达屋</a>
        </li>
        <li>
            <a class="switch-group-btn" data-group="3" href="javascript:void(0)">洲际</a>
        </li>
        <li>
            <a class="switch-group-btn" data-group="4" href="javascript:void(0)">贝斯特韦斯特</a>
        </li>
    </ul>


    <!--集团主要介绍-->
    <ul class="group-introduce">
        <li class="per-group shown" data-group="1">
            <!--万豪集团-->
            <div class="group-logo wanhao-logo"></div>
            <div class="group-summary">
                <h2 class="group-title">万豪国际集团</h2>
                <p class="group-words">万豪国际集团是世界上著名的酒店管理公司和入选财富全球500强名录的企业。其经营思想是：你如能使员工树立工作的自豪感，他们就会为顾客提供出色的服务。在此基础上，连锁“热卖店”的成功经营为玛里奥特涉足于后来酒店业的发展提供了先天的条件，其后特点为：酒店房间全部为套房设施，主要为长住客人提供方便实用的套房及相应服务。</p>
            </div>

            <%= wanhao %>
        </li>
        <li class="per-group" data-group="2">
            <!--喜达屋集团-->
            <div class="group-logo xidawu-logo"></div>
            <div class="group-summary">
                <h2 class="group-title">喜达屋集团</h2>
                <p class="group-words">喜达屋集团是全球最大的饭店及娱乐休闲集团之一，以其饭店的高档豪华著称。集团的品牌包括瑞吉（St. Regis）、豪华精选（The Luxury Collection）、W酒店（W Hotels）、艾美（Le Meridien）、威斯汀（Westin）、喜来登（Sheraton）、雅乐轩（Aloft）、源宿（Element），以及福朋(Four Points)。喜达屋拥有一项行业领先且备受赞誉的忠诚计划–SPG 俱乐部（SPG），会员可获得积分并将其兑换成客房住宿、客房升级和航班，且无日期限制。喜达屋还拥有喜达屋度假住房所有权股份有限公司，旗下的别墅式度假酒店和喜达屋旗下品牌的贵宾特权缔造出世界级的度假体验。</p>
            </div>

            <%= xidawu %>
        </li>
        <li class="per-group" data-group="3">
            <!--洲际集团-->
            <div class="group-logo zhouji-logo"></div>
            <div class="group-summary">
                <h2 class="group-title">洲际酒店集团</h2>
                <p class="group-words">洲际酒店集团InterContinental Hotels Group PLC (IHG)是一个全球化的酒店集团，在全球100多个国家和地区经营和特许经营着超过4,400家酒店，超过660,000间客房。“洲际”旗下的酒店品牌有洲际酒店及度假村（InterContinental Hotels & Resorts），假日酒店及假日度假酒店（Holiday Inn），皇冠假日酒店（Crowne Plaza Hotels），智选假日酒店（Holiday Inn Express），英迪格酒店(Indigo) 。</p>
            </div>

            <%= zhouji %>
        </li>
        <li class="per-group" data-group="4">
            <!--洲际集团-->
            <div class="group-logo bestwest-logo"></div>
            <div class="group-summary">
                <h2 class="group-title">贝斯特韦斯特</h2>
                <p class="group-words">贝斯特韦斯特 (原最佳西方) 国际酒店集团成立于1946年，在全球100多个国家和地区拥有4,000多家成员酒店，旗下十一个集团品牌从三星到五星满足不同的客源市场。积分永不过期的酒店常旅客计划吸收了超过2,500万会员，全世界每晚有超过40万人下榻其旗下的酒店。集团旗下11个品牌为贝斯特韦斯特Best Western®, 贝斯特韦斯特优质Best Western Plus®, 贝斯特韦斯特精品Best Western Premier®, 贝斯特韦斯特行政公寓Best Western Plus Executive Residency®, 贝斯特韦斯特至尊精选BW Premier Collection®,Vīb®, GLō®, 贝斯特韦斯特品质精选BW Signature Collection®, SureStay, SureStay Plus, SureStay Signature Collection。</p>
            </div>

            <%= bestwest %>
        </li>
    </ul>
</div>