<!--打包价弹出框模板-->

<div class="hli-package-confirm-wrap">
	<p>
		<label>
			<input type="checkbox" class="hli-package-checkbox" />
			我已明确此为包含交通产品的套餐价格
		</label>
	</p>
	<p class="hli-package-btn-wrap">
		<a href="<%= link %>" target="_blank" class="hli-package-btn disabled">下一步</a>
	</p>
</div>