@mixin partner_logo{background:url(https://qnb.oss-cn-shenzhen.aliyuncs.com/real_1520994288215.png) no-repeat; }

@mixin partner03{height:60px;width:66px;background-position: 0 0;}
@mixin partner05{height:41px;width:80px;background-position: -66px 0;}
@mixin partner04{height:52px;width:80px;background-position: -146px 0;}
@mixin partner06{height:39px;width:102px;background-position: -226px 0;}
@mixin partner07{height:47px;width:111px;background-position: -328px 0;}
@mixin partner08{height:44px;width:120px;background-position: -439px 0;}
@mixin partner01{height:64px;width:140px;background-position: -559px 0;}
@mixin partner02{height:43px;width:158px;background-position: -699px 0;}