
<!--酒店价格详情容器-->
<div class="price-table-outer">
	<div class="price-table-inner">
		<div class="hl-item">
			<div class="progress-outer"></div>
			<div class="hli-price-list-wrap">
				<div class="fzg-loading-wrap">
					<img src="https://qnb.oss-cn-shenzhen.aliyuncs.com/real_1514022140288.gif"/>
				</div>
			</div>
			<input type="hidden" id="hotelId"  class="hli-expand-inner">
		</div>
	</div>
</div>
