
<div class="search-line-outer">
	<!--<div class="hotel-detail-title-wrap">
		<h1 class="hotel-detail-title">价格详情</h1>
	</div>-->
	<div class="search-line-wrap">
	
	    <div class="search-item-wrap">
	        <label class="s-i-label" for="s-i-dates-input">入离日期</label>
	        <input type="text" class="s-i-dates-input my-calendar-input" id="s-i-dates-input" placeholder="入住离店日期" title="入住离店日期" unselectable="on" readonly="readonly">            
	    </div>
	
	    <div class="drag-down-wrap">
	        <my-select class="s-i-room-num" unselectable="on" data-value="1" data-track="详情页_搜索栏_间数">1间</my-select>
	        <i class="drag-down"></i>
	    </div>
	
		<div class="search-item-wrap">
			<input class="search-line-price" id="slp_1" value="" placeholder="最低价" title="最低价" data-track="详情页_搜索栏_价格_最低价" />
			<i class="search-line-seperator"></i>
			<input class="search-line-price" id="slp_2" value="" placeholder="最高价" title="最高价" data-track="详情页_搜索栏_价格_最高价" />
		</div>
		
	    <!-- <span class="search-line-span">1间2晚</span> -->
	    <div class="drag-down-wrap s-i-adult-children-wrap">
	        <input type="text" class="s-i-adult-children" value="2成人，0小孩" unselectable="on" readonly="readonly">
	        <i class="drag-down"></i>
	    </div>
	    
	    <label class="search-item-label"><input type="checkbox" class="d-s-item" data-track="详情页_搜索栏_只显示可订" data-attr="isbook" data-value="isbook"><span>只显示可订</span></label>
	    <label class="search-item-label"><input type="checkbox" class="d-s-item" data-track="详情页_搜索栏_可取消" data-attr="canceltype" data-value="canceltype-0"><span>可取消</span></label>
		
		<div class="search-item-two-row-wrap">
			<label class="search-item-label two-row"><input type="checkbox" class="d-s-item" data-attr="immediate" data-track="详情页_搜索栏_立即确认" data-value="XS-1"><span>立即确认</span></label>
			<label class="search-item-label two-row"><input type="checkbox" class="d-s-item" data-attr="immediate" data-track="详情页_搜索栏_60秒确认" data-value="XS-2"><span>60秒确认</span></label>
		</div>

		<div class="search-item-two-row-wrap">
			<label class="search-item-label two-row"><input type="checkbox" class="d-s-item bedbreakfast" data-attr="bedbreakfast" data-track="详情页_搜索栏_可加早" data-value="bedbreakfast-0"><span>可加早</span></label>
			<label class="search-item-label two-row"><input type="checkbox" class="d-s-item bedbreakfast" data-attr="bedbreakfast" data-track="详情页_搜索栏_可加床" data-value="bedbreakfast-1"><span>可加床</span></label>
		</div>
	    	
	    <button class="search-line-btn disabled" data-track="详情页_搜索栏_搜索">搜索</button>
	</div>
</div>