<div hidden="hidden" id="div_User"></div>
<input type="hidden" id="promotionType" value="7">


<!-- banner部分 -->
<section class="cr-banner-wrap">
    <img src="http://image.jladmin.cn/real_1511947026054.jpg" width="100%" alt="">
    <div class="cr-notice-shadow"></div>
    <div class="cr-notice-wrap">
        <div class="cr-notice-inner">
            <div class="cr-notice-icon"></div>
            <span>本次促销活动所有酒店产品仅针对线下渠道住客，未经我司同意擅自将活动产品投放各线上渠道收客的，一经发现最高罚款2000元并停止与我司所有合作关系。且因此导致订单无法正常安排的后果自负，房费不退。</span>
        </div>
    </div>
</section>

<!-- 主题内容，包括 国内酒店、港澳台酒店、国外酒店 -->
<section class="main-content-wrap">

    <div class="hotel-region internal">
        <div class="hotel-region-inner">
            <%= hotelHTML %>
        </div>
    </div>

</section>
