// 顶部搜索栏第一行样式


.i-s-row-one-wrap{

    &:after{
        content: '';
        display: block;
        clear: both;
    }
    
    @at-root .i-s-bg-one{
        height: 80px;
        background: white;
        opacity: .75;
        filter: Alpha(opacity=75);
    }

    @at-root .i-s-row-one{
        position: relative;
        margin: 15px;
        height: 50px;
        background: white;
        margin-top: -65px;
        border-radius: 5px;
        overflow: hidden;

        @at-root .i-s-hotel-group{
            float: left;
            height: 50px;
            line-height: 50px;
            padding: 0 10px;
            border-right: solid 2px orange;

            @at-root .i-s-group-select{
                width: 75px;
                font-size: 16px;
            }
        }

        @at-root .i-s-origin-group{
            float: left;
            width: 248px;
            height: 50px;
            line-height: 50px;
            overflow: hidden;
            border-right: solid 2px orange;

            li{
                float: left;
                margin: 0 20px;
                cursor: context-menu;
                
                @at-root span[name="i-s-origin-switch"]{
                    font-size: 16px;
                    font-weight: bold;
                    color: #666666;

                    &[checked]{
                        color: orange;
                        border-bottom: solid 3px;
                        padding-bottom: 3px;
                    }
                }
            }
        }

        @at-root .i-s-keyword{
            float: left;

            >*{
                float: left;
            }

            @at-root .i-s-keyword-icon{
                @include jl_sprites;
                @include location;
                margin: 16px 12px 0 32px;
            }

            @at-root .i-s-keyword-input{
                border: none;
                height: 50px;
                line-height: 50px;
                font-size: 16px;
                width: 290px;
                padding-right: 5px;
                box-sizing: border-box;

                &.error{
                    background: rgb(249, 144, 144);
                }
            }
        }

        @at-root .i-s-gap{
            float: left;
            border-right: solid 1px #999;
            height: 20px;
            margin-top: 15px;
        }

        @at-root .i-s-dates{
            float: left;

            >*{
                float: left;
            }

            @at-root .i-s-dates-icon{
                @include jl_sprites;
                @include datelogo;
                margin: 17px 12px 0 32px;
            }

            @at-root .i-s-dates-input{
                border: none;
                height: 50px;
                line-height: 50px;
                font-size: 16px;
                width: 190px;
                cursor: context-menu;
            }
        }

        @at-root .i-s-search-btn{
            float: right;
            width: 140px;
            height: 50px;
            background: orange;
            color: white;
            font-size: 20px;
            border: none;
            letter-spacing: 10px;
            padding-left: 10px;
            transition: all 0.2s linear 0s;

            &:hover{
                background: #e19202;
            }
        }
    }
}