
<section class="tpc-hotel-list">
    <div class="tpchl-head">
        <span>酒店名称</span>
        <span class="fr">状态</span>
    </div>
    <ul class="tpchl-wrap">
        <div style="width: 190px;margin: 20px auto;">
            <img src="https://qnb.oss-cn-shenzhen.aliyuncs.com/real_1514022140288.gif"/>
        </div>
    </ul>
</section>