
<!-- 页面右边上部的操作栏，有 “刷新” 按钮、a链接等 -->
<section class="tool-page-optline">
    <button class="tp-opt-btn">刷新</button>
    <span class="tp-opt-span">上次刷新时间：<span class="tp-opt-time"></span></span>
    <a href="javascript:;" target="_blank" id="goToHotelDetail">跳转至房掌柜查看</a>
</section>