//内容头部样式
@at-root .content-head {
	width: 1180px;
	height: 30px;
	margin-top: 50px;
	ul {
		li {
			float: left;
			height: 30px;
			line-height: 30px;
			text-align: center;
			&:nth-child(1) {
				width: 388px;
				background-color: #55b6fe;
				color: white;
			}
			&:nth-child(2) {
				position: relative;
				left: 3px;
				width: 0;
				height: 0;
				border-left: 15px solid white;
				border-top: 15px solid #f5f5f5;
				border-bottom: 15px solid #f5f5f5;
			}
			&:nth-child(2)::after {
				content: "";
				position: absolute;
				top: -15px;
				left: -18px;
				display: block;
				width: 0;
				height: 0;
				border-left: 15px solid #55b6fe;
				border-top: 15px dashed transparent;
				border-bottom: 15px dashed transparent;
			}
			&:nth-child(3) {
				width: 366px;
				background-color: #f5f5f5;
				color: #000000;
			}
			&:nth-child(4) {
				position: relative;
				left: 3px;
				width: 0;
				height: 0;
				border-left: 15px solid white;
				border-top: 15px solid #f3f3f3;
				border-bottom: 15px solid #f3f3f3;
			}
			&:nth-child(4)::after {
				content: "";
				position: absolute;
				top: -15px;
				left: -18px;
				display: block;
				width: 0;
				height: 0;
				border-left: 15px solid #f5f5f5;
				border-top: 15px dashed transparent;
				border-bottom: 15px dashed transparent;
			}
			&:nth-child(5) {
				width: 396px;
				background-color: #f3f3f3;
				color: black;
			}
		}
	}
}

@at-root .head-content-gap{
	width: 1180px;
	height: 20px;
}

