
<div class="hotel-list-auto-hide">
	<div class="hotel-list-no-data">
		<i class="hlnd-icon"></i>
		<p class="hlnd-span1">很抱歉，没有查询到符合您要求的酒店</p>
		<p class="hlnd-span2">建议您适当调整已选择的条件</p>
	</div>

	<div class="pianxin-tuijian">
		<i class="pianxin-icon"></i>
		<span>您可能对如下酒店感兴趣</span>
	</div>
</div>

<!--酒店列表容器-->
<div class="hotel-list-outer">
	<div class="fzg-loading-wrap">
		<img src="https://qnb.oss-cn-shenzhen.aliyuncs.com/real_1514022140288.gif"/>
	</div>
</div>

<!--分页容器-->
<div class="hotel-list-page-outer"></div>