
<div class="nearby-outer">
	<div class="nearby-wrap">
		<h1 class="nearby-title">附近酒店</h1>
		
		<ul class="nearby-hotel-list">
			<li class="nearby-hotel-item">
				<a href="#" target="_blank">
					<div class="nbhi-img">
						<img src="https://qnb.oss-cn-shenzhen.aliyuncs.com/real_1512462220945.jpg"/>
						<div class="nbhi-price-wrap">￥<span class="nbhi-price-num">998</span>起</div>
					</div>
					<div class="nbhi-hotel-name">深圳阳光酒店</div>
				</a>
			</li>
			
			<li class="nearby-hotel-item">
				<a href="#" target="_blank">
					<div class="nbhi-img">
						<img src="https://qnb.oss-cn-shenzhen.aliyuncs.com/real_1512532504047.jpg"/>
						<div class="nbhi-price-wrap">￥<span class="nbhi-price-num">998</span>起</div>
					</div>
					<div class="nbhi-hotel-name">深圳阳光酒店</div>
				</a>
			</li>
			
			<li class="nearby-hotel-item">
				<a href="#" target="_blank">
					<div class="nbhi-img">
						<img src="https://qnb.oss-cn-shenzhen.aliyuncs.com/real_1512541024339.png"/>
						<div class="nbhi-price-wrap">￥<span class="nbhi-price-num">998</span>起</div>
					</div>
					<div class="nbhi-hotel-name">深圳阳光酒店</div>
				</a>
			</li>
			
			<li class="nearby-hotel-item">
				<a href="#" target="_blank">
					<div class="nbhi-img">
						<img src="https://qnb.oss-cn-shenzhen.aliyuncs.com/real_1512541150964.png"/>
						<div class="nbhi-price-wrap">￥<span class="nbhi-price-num">998</span>起</div>
					</div>
					<div class="nbhi-hotel-name">深圳阳光酒店</div>
				</a>
			</li>
			
			<li class="nearby-hotel-item">
				<a href="#" target="_blank">
					<div class="nbhi-img">
						<img src="https://qnb.oss-cn-shenzhen.aliyuncs.com/real_1512541516152.png"/>
						<div class="nbhi-price-wrap">￥<span class="nbhi-price-num">998</span>起</div>
					</div>
					<div class="nbhi-hotel-name">深圳阳光酒店</div>
				</a>
			</li>
			
			<li class="nearby-hotel-item">
				<a href="#" target="_blank">
					<div class="nbhi-img">
						<img src="https://qnb.oss-cn-shenzhen.aliyuncs.com/real_1512541693418.jpg"/>
						<div class="nbhi-price-wrap">￥<span class="nbhi-price-num">998</span>起</div>
					</div>
					<div class="nbhi-hotel-name">深圳阳光酒店</div>
				</a>
			</li>
			
			<li class="nearby-hotel-item">
				<a href="#" target="_blank">
					<div class="nbhi-img">
						<img src="https://qnb.oss-cn-shenzhen.aliyuncs.com/real_1512541516152.png"/>
						<div class="nbhi-price-wrap">￥<span class="nbhi-price-num">998</span>起</div>
					</div>
					<div class="nbhi-hotel-name">深圳阳光酒店</div>
				</a>
			</li>
			
			<li class="nearby-hotel-item">
				<a href="#" target="_blank">
					<div class="nbhi-img">
						<img src="https://qnb.oss-cn-shenzhen.aliyuncs.com/real_1512541693418.jpg"/>
						<div class="nbhi-price-wrap">￥<span class="nbhi-price-num">998</span>起</div>
					</div>
					<div class="nbhi-hotel-name">深圳阳光酒店</div>
				</a>
			</li>
			
		</ul>
	</div>
    
</div>