
<div class="search-line-outer">
    <div class="search-line-wrap">
        <div class="drag-down-wrap">
            <my-select class="s-i-city-type" unselectable="on" data-value="0" data-track="列表页_搜索栏_城市类型">国内</my-select>
            <i class="drag-down"></i>
        </div>
    
        <div class="search-item-wrap siw-hotel-list">
            <label class="s-i-label" for="s-i-keyword-input">城市/酒店</label>
            <input type="text" class="s-i-keyword-input" id="s-i-keyword-input" placeholder="" data-track="列表页_搜索栏_关键字">
        </div>
    
        <div class="search-item-wrap">
            <label class="s-i-label" for="s-i-dates-input">入离日期</label>
            <input type="text" class="s-i-dates-input my-calendar-input" id="s-i-dates-input" placeholder="入住离店日期" title="入住离店日期" unselectable="on" readonly="readonly">            
        </div>
    
        <div class="drag-down-wrap">
            <my-select class="s-i-room-num" unselectable="on" data-value="1" data-track="列表页_搜索栏_间数">1间</my-select>
            <i class="drag-down"></i>
        </div>
    
        <!-- <span class="search-line-span">1间2晚</span> -->
        <div class="drag-down-wrap s-i-adult-children-wrap">
            <input type="text" class="s-i-adult-children" value="2成人，0小孩" unselectable="on" readonly="readonly">
            <i class="drag-down"></i>
        </div>
    
        <button class="search-line-btn" data-track="列表页_搜索栏_搜索">搜索</button>
    </div>
</div>