<!-- 子搜索条 -->
<div class="sub-search-line-wrap">
    <span>共搜索到<span class="ssl-hotel-num">0</span>家酒店符合条件</span>
    <div class="ssl-search-wrap">
        <input type="text" placeholder="搜索关键字" class="ssl-search-input" title="搜索关键字">
        <button class="ssl-search-btn" data-track="列表页_子搜索栏_搜索">
            <i class="ssl-search-icon"></i>
            搜索
        </button>
    </div>
</div>