<div class="marketing-box">
    <p class="marketing-info">礼包信息: <%= content.marketingObj.marketingInfo %></p>
    <span>手机号码：</span>
    <input type="text" name="marketingRemark" class="gift-phone" placeholder="必填">
    <!--<textarea class="user-marketing-info" name="marketingRemark"></textarea>-->
</div>