<div class="bread-nav">
    <div class="bread-box clearfix">
        <div class="bread-nav-2">个人中心</div>
        <i>&gt;</i>
        <div class="bread-nav-3">房掌柜小工具</div>
        <i>&gt;</i>
        <div class="bread-nav-4">酒店分配</div>
    </div>
</div>


<div class="main">
    <div class="search">
        <label for="">
            <input type="text" class="hotel-name" placeholder="酒店名称">
        </label>
        <label for="">
            <select name="staffName" id="staffName" hasrequest="false">
                <option value="" disabled selected>员工名字</option>
            </select>
        </label>
        <button class="search-list">搜索</button>
    </div>

    <div class="hotel-list">
        <!--酒店列表区域-->
        <div class="hotel-list-table">
            <table class="product-list">
                <thead>
                <tr>
                    <th class="th-cityid">酒店id</th>
                    <th class="th-hotel">酒店名</th>
                    <th class="th-city">城市</th>
                    <th class="th-gruop">所属集团</th>
                    <th class="th-staff">员工</th>
                    <th class="th-station">部门</th>
                    <th class="th-option">操作</th>
                </tr>
                </thead>
                <tbody class="product-tbody">

                </tbody>
            </table>

        </div>
    </div>


    <div class="paging-box clearfix">
        <!--分页器-->
    </div>
</div>