<div hidden="hidden" id="div_User"></div>
<input type="hidden" id="promotionType" value="7">


<!-- banner部分 -->
<section class="cr-banner-wrap">
    <img src="https://qnb.oss-cn-shenzhen.aliyuncs.com/real_1516326960149.jpg" width="100%" alt="">
    <div class="cr-notice-shadow"></div>
    <div class="cr-notice-wrap">
        <div class="cr-notice-inner">
            <div class="cr-notice-icon"></div>
            <span>各位同行好，因我司产品不允许放在各大团购网站上售卖，如被检测到是团购网站上来源的订单，我司将终止与贵司合作并索取不低于2晚房费的赔付。请各位同行配合，谢谢！</span>
        </div>
    </div>
</section>

<!-- 活动酒店 -->
<section class="main-content-wrap">
    <!--预订流程-->
    <div class="booking-process">
        <div class="process-title clearfix">
            <div class="t-l-before"></div>
            <h6 class="p-t-text">如何预定含接送机服务的酒店</h6>
            <div class="t-l-after"></div>
        </div>
        <div class="flow-chart">
            <button class="per-process have-arrow">选择酒店</button>····&gt;
            <button class="per-process have-arrow">选择酒店入离日期</button>····&gt;
            <button class="per-process have-arrow">填写订单</button>····&gt;
            <button class="per-process have-arrow">付款</button>····&gt;
            <button class="per-process">等待电话联系</button>
        </div>
    </div>

    <div class="hotel-region internal">
        <div class="hotel-region-inner">
            <%= hotelHTML %>
        </div>
    </div>

    <%= rulesHTML %>

</section>
