<!-- 酒店关键字模板 -->
<section class="key-word-hotel-wrap">
    <div class="kwh-inner">
        <p class="kwh-no-content" style="color:red;">无相关城市/酒店</p>
        <div class="kwh-block city"></div>
        <div class="kwh-block hotel"></div>
    </div>
</section>
