// 主题内容样式，包括 "国内酒店"、"港澳台酒店"、"国外酒店"

// 酒店左边图片部分的样式
@import './nd_hotel_img.scss';

// 每个酒店右边详情部分的样式
@import './nd_hotel_detail.scss';


.hotel-region{
    overflow: hidden;

	&.internal{
		background: #F8D3B8;
	}
	&.gat{
		background: #F6EC95;
	}
	&.external{
		background: #DCEDF5;
	}

	@at-root .hotel-region-img{
		@include nd_sprites_old;
		margin: 40px auto 0;

		&.internal{
			@include nd-title-internal;
		}
		&.gat{
			@include nd-title-gat;
		}
		&.external{
			@include nd-title-external;
		}
	}

	@at-root .hotel-region-inner{
		width: 1180px;
		margin: 30px auto 60px;
        
        @at-root .nd-hotel-item{
            background: white;
			overflow: hidden;
			margin-bottom: 10px;
        }
	}
}