

@mixin d11_sprites{background:url(http://image.jladmin.cn/real_1509591896713.png) no-repeat; }
@mixin d11_notice{height:233px;width:785px;background-position: 0 0;}
@mixin d11_title2{height:148px;width:1182px;background-position: 0 -233px;}
@mixin d11_title3{height:148px;width:1182px;background-position: 0 -381px;}
@mixin d11_title1{height:148px;width:1183px;background-position: 0 -529px;}