// 主题内容样式，包括 "国内酒店"、"港澳台酒店"、"国外酒店"

// 酒店左边图片部分的样式
@import './hotel_img.scss';

// 每个酒店右边详情部分的样式
@import './hotel_detail.scss';


.main-content-wrap{
	background-image: url(http://image.jladmin.cn/real_1509591493023.jpg);
	background-size: 100%;

	@at-root .hotel-region{
		overflow: hidden;
		background-size: 100%;

		.notice-wrap{
			margin-top: 100px;
			overflow: hidden;
			background: white;
		}
		
		@at-root .hotel-region-img{
			@include d11_sprites;
			margin: 100px auto 0;
	
			&.internal{
				@include d11_title1;
			}
			&.gat{
				@include d11_title2;
			}
			&.external{
				@include d11_title3;
			}			
			&.halloween-notes{
				@include d11_notice;
				position: relative;
				margin-bottom: 50px;
				margin-top: 50px;

				#rescueTTT{
					position: absolute;
					font-size: 18px;
					background: white;
					color: #777;
					top: 170px;
					right: 178px;
					letter-spacing: 1px;
				}
			}
		}
	
		@at-root .hotel-region-inner{
			width: 1180px;
			margin: 30px auto 60px;
			
			@at-root .nd-hotel-item{
				background: white;
				overflow: hidden;
				margin-bottom: 30px;
				border: 3px solid #e4e2e2;
				border-radius: 5px;
	
				&:hover{
					border: 3px solid #d36c6c;
				}
			}
		}
	}
}
