<!-- 我的关注、订单管理 -->
<section class="index-concern-order-outer">
    <div class="i-c-o-inner">
        <!-- 我的关注 -->
        <div class="i-concern-outer">
            <div class="i-c-o-title">
                <i class="i-c-o-icon concern"></i>
                <h1>我的关注</h1>
                <a href="javascript:void(0)" class="get-all-concern">查看全部</a>
            </div>
            <div id="i-concern-wrap">
                <div class="no-content"></div>
            </div>

            <!--<table>-->
                <!--<thead>-->
                    <!--<tr>-->
                        <!--<th></th>-->
                        <!--<th></th>-->
                    <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                    <!--<tr>-->
                        <!--<td><a href="#" class="i-c-o-link-item">深圳 | 深圳阳光大酒店</a></td>-->
                        <!--<td lastChild><span class="i-concern-price">￥888</span>起</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td><a href="#" class="i-c-o-link-item">深圳 | 深圳阳光大酒店</a></td>-->
                        <!--<td lastChild><span class="i-concern-price">￥888</span>起</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td><a href="#" class="i-c-o-link-item">深圳 | 深圳阳光大酒店</a></td>-->
                        <!--<td lastChild><span class="i-concern-price">￥888</span>起</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td><a href="#" class="i-c-o-link-item">深圳 | 深圳阳光大酒店</a></td>-->
                        <!--<td lastChild><span class="i-concern-price">￥888</span>起</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td><a href="#" class="i-c-o-link-item">深圳 | 深圳阳光大酒店</a></td>-->
                        <!--<td lastChild><span class="i-concern-price">￥888</span>起</td>-->
                    <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        </div>

        <!-- 订单管理 -->
        <div class="i-order-outer">
            <div class="i-c-o-title">
                <i class="i-c-o-icon order"></i>
                <h1>订单管理</h1>
                <a href="/myinfo/myOrder.do" target="_blank" data-track="首页_订单管理_查看全部">查看全部</a>
                <button class="i-c-order-btn" data-track="首页_订单管理_搜索">搜索</button>
                <input type="text" placeholder="请输入订单号/酒店名称" id="i-order-keyword" title="请输入订单号/酒店名称">
            </div>
            <div id="i-order-wrap"></div>
        </div>
    </div>
</section>