<!-- 重要通知 -->
<section class="index-notice-outer">
    <div class="i-n-inner">
        <i class="i-n-icon"></i>
        <b> 重要通知：</b>
        <div class="index-notice-content-box">
            <span>各位同行好，因我司产品不允许放在各大团购网站上售卖，如被检测到是团购网站上来源的订单，我司将终止与贵司合作并索取不低于2晚房费的赔付。请各位同行配合，谢谢！</span>
            <!--<span class="new-year-notice">-->
                <!--<a href="/login/html/option_instruction.jsp?id=hotelNote_2" target="_blank">因春节来临，酒店需要我司预付房费，为了保证您公司的订房业务不受影响，请您在春节前支付已到期账单款，并预付春节期间的订房款，谢谢支持！</a>-->
            <!--</span>-->
            <!--<span>各位同行好，因我司产品不允许放在各大团购网站上售卖，如被检测到是团购网站上来源的订单，我司将终止与贵司合作并索取不低于2晚房费的赔付。请各位同行配合，谢谢！</span>-->
        </div>
    </div>
</section>