<!-- 今日主推 -->
<section class="index-recommend-today-outer">
    <div class="i-r-t-inner">
        <div class="i-r-title">
            <div class="i-r-title-line"><i class="i-r-title-icon right"></i></div>
            <h1>今日主推</h1>
            <div class="i-r-title-line"><i class="i-r-title-icon left"></i></div>
        </div>
        
        <div id="recommendTodayWrap"></div>
    </div>
</section>