<!--切换品牌tab栏-->
<ul class="switch-brand">
    <li>
        <a class="switch-brand-btn selected" data-brand="1" href="javascript:void(0)">旗下酒店品牌</a>
    </li>
</ul>


<!--主要品牌-->
<ul class="main-brand bestwest-main-brand">

</ul>