<!--切换品牌tab栏-->
<ul class="switch-brand">
    <li>
        <a class="switch-brand-btn selected" data-brand="1" href="javascript:void(0)">奢华品牌</a>
    </li>
    <li class="brand-line"></li>
    <li>
        <a class="switch-brand-btn" data-brand="2" href="javascript:void(0)">高级品牌</a>
    </li>
    <li class="brand-line"></li>
    <li>
        <a class="switch-brand-btn" data-brand="3" href="javascript:void(0)">精选服务品牌</a>
    </li>
    <li class="brand-line"></li>
    <li>
        <a class="switch-brand-btn" data-brand="4" href="javascript:void(0)">长期住宿</a>
    </li>
    <li class="brand-line"></li>
    <li>
        <a class="switch-brand-btn" data-brand="5" href="javascript:void(0)">收藏</a>
    </li>
</ul>


<!--主要品牌-->
<ul class="main-brand wanhao-main-brand">

</ul>