<!--切换品牌tab栏-->
<ul class="switch-brand">
    <li>
        <a class="switch-brand-btn selected" data-brand="1" href="javascript:void(0)">旗下酒店品牌Ⅰ</a>
    </li>
    <li class="brand-line"></li>
    <li>
        <a class="switch-brand-btn" data-brand="2" href="javascript:void(0)">旗下酒店品牌Ⅱ</a>
    </li>
</ul>


<!--主要品牌-->
<ul class="main-brand zhouji-main-brand">

</ul>