
<div class="i-s-range-bar">
	<div class="range-line"></div>
	<i class="range-bar range-left no-track-click" data-track="公共_价格条">
		<div><span class="range-vbegin"><%= vBegin %></span><span><%= vUnits %></span></div>
	</i>
	<i class="range-bar range-right no-track-click" data-track="公共_价格条">
		<div><span class="range-vend"><%= vEnd %></span><span><%= vUnits %></span><span class="range-bar-unit2">以上</span></div>
	</i>
</div>