<div class="main-box">
    <div class="main">
        <div class="register-head clearfix">
            <h5 class="register-title fl">注册账号</h5>
            <div class="register-h-r fr">
                <p class="fl">已有房掌柜账号？</p>
                <a href="/user/bookHotel.do" class="to-login fl">直接登录</a>
            </div>
        </div>

        <div class="tips">
            <i class="icon"></i>
            <span class="tips-title">温馨提示：</span>
            如您已在我司有合作，请先咨询注册组0755-33336999索要贵公司账号，无需重复注册，谢谢合作！
        </div>


        <%= company %>


        <%= user %>


        <button class="submit">提&nbsp;&nbsp;交</button>
    </div>
</div>