.progress-wrap{
    height: 30px;

    img{
        position: absolute;
        left: -1200px;
    }

    .progress-text{
        position: absolute;
        top: 0;
        line-height: 30px;
        width: 100%;
        font-size: 14px;
        text-align: center;
        color: #216baf;
    }
}