<!-- 每间住客数，更多选项弹出框 -->
<section class="chidren-select-wrap hidden">
    <ul class="children-adult-wrap">
        <li class="adult-wrap">
            <h3 class="children-label">成人</h3>
            <select class="children-adult-select adult">
                <option value="1">1人</option>
                <option value="2" selected>2人</option>
                <option value="3">3人</option>
                <option value="4">4人</option>
                <option value="5">5人</option>
                <option value="6">6人</option>
                <option value="7">7人</option>
            </select>
            <span class="children-label2">18岁及以上</span>
        </li>
        <li class="children-wrap">
            <h3 class="children-label">小孩</h3>
            <select class="children-adult-select children">
                <option value="0" selected>0人</option>
                <option value="1">1人</option>
                <option value="2">2人</option>
                <option value="3">3人</option>
            </select>
            <span class="children-label2">参考酒店政策</span>
        </li>
    </ul>
    <div class="children-list-wrap hidden">
        <h3 class="children-label">儿童入住时年龄：</h3>
        <ul class="children-list"></ul>
    </div>
    <div class="children-btn-group">
        <button class="children-select-cancel">取消</button>
        <button class="children-select-confirm">确定</button>
    </div>
</section>