<!-- 单个儿童年龄选择框组件 -->
<li class="children-item-wrap">
    <h3 class="children-label">儿童<%= index %></h3>
    <select class="children-item-select">
        <option value="0">&lt;1岁</option>
        <option value="1">1岁</option>
        <option value="2">2岁</option>
        <option value="3">3岁</option>
        <option value="4">4岁</option>
        <option value="5">5岁</option>
        <option value="6">6岁</option>
        <option value="7">7岁</option>
        <option value="8">8岁</option>
        <option value="9">9岁</option>
        <option value="10">10岁</option>
        <option value="11">11岁</option>
        <option value="12">12岁</option>
        <option value="13">13岁</option>
        <option value="14">14岁</option>
        <option value="15">15岁</option>
        <option value="16">16岁</option>
        <option value="17">17岁</option>
    </select>
</li>