<!-- 一个月的字符串模板 -->
<div class="cp-one-month-wrap current" data-month="<%= month %>">
    <h1 class="cp-month-head"><%= head %></h1>
    <table>
        <thead class="cp-month-thead">
            <tr>
                <td>日</td>
                <td>一</td>
                <td>二</td>
                <td>三</td>
                <td>四</td>
                <td>五</td>
                <td>六</td>
            </tr>
        </thead>
        <tbody><%= body %></tbody>
    </table>
</div>