<!-- 顶部导航栏 -->
<section class="index-top-nav">
    <div class="i-t-n-bg"></div>
    <div class="i-t-n-wrap">
        <a href="/user/bookHotel.do" data-track="公共_页首_酒店订单_jllogo"><i class="jl-logo"></i></a>

        <ul class="i-t-n-group">
            <li switch name="i-t-n-radio" data-module="index">
                <a href="/user/bookHotel.do" data-track="公共_页首_酒店预订">酒店预订</a>
            </li>
            <li switch name="i-t-n-radio" data-module="ticket">
                <a href="/ticketController/index.do?ch=4" data-track="公共_页首_门票预订">门票预订</a>
            </li>
            <li switch name="i-t-n-radio" data-module="group">
                <a href="/hotel/toGroupIndex.do" data-track="公共_页首_直连集团">直连集团</a>
            </li>
        </ul>

        <div class="i-t-n-hotline">
            <div class="i-t-n-user-wrap">
                <div class="i-t-n-triangle"></div>
                <div class="i-t-n-user">请登录</div>
                <div>您好，</div>
                <ul class="i-t-n-drop">
                    <li><a href="/myinfo/myInfoHome.do" data-track="公共_页首_个人中心">个人中心</a></li>
                    <li><a href="/myinfo/myOrder.do" data-track="公共_页首_酒店订单">酒店订单</a></li>
                    <li><a href="/ticketController/myTicketOrder.do" data-track="公共_页首_门票订单">门票订单</a></li>
                    <li><a href="/askInvoice/askInvoice.do" data-track="公共_页首_发票索取">发票索取</a></li>
                    <li><a href="#" id="logout" data-track="公共_页首_退出">退出</a></li>
                </ul>
            </div>
            <div>0755-33397777</div>
            <i class="i-t-n-phone"></i>
        </div>
    </div>
</section>